.sign__container{
      width: 100%;
      margin: 2rem 0;
      display: flex;
      justify-content: center;
      align-items: center;
}
.sign__card{
      background-color: white;
      color: rgb(0,58,36);
      padding: 2rem 3.5rem;
      border-radius: 10px;
      box-shadow: 0 0 4px rgba(0,0,0,0.4);
}
.sign__header{
      margin-bottom: 1rem;
      font-size: 1.5rem;
      text-decoration: none;
}
.sign__header a{
      color:rgb(0,58,36);
      text-decoration: none;
}
.sign__card h3{
      padding-bottom: 0.5rem;
}
.sign__card p{
      color: rgb(102, 102, 102);
}
.sign__form{
      margin: 1rem 0;
      font-size: 16px;
}
.sign__form input{
      padding: 1rem 5rem 0.5rem 1rem;
      color:rgb(0,58,36);
      margin-bottom: 0.5rem;
      border: 1px solid grey;
      border-radius: 5px;
      font-size: 18px;
}
.sign__form input:focus{
      border: 1px solid rgb(0,58,36);
}
.sign__form button{
      margin-top: 1rem;
      background-color: rgb(0,128,96);
      color:white;
      width: 100%;
      padding: 1rem;
      border-radius: 5px;
      font-weight: 700;
      border: none;
      outline: none;
}
.sign__form button:hover{
      background-color: rgb(0,58,36);
}
.password__info{
      padding-bottom: 0.5rem;
}
.login__link__info{
      margin-top: 10px;
}
.login__link a{
      color: rgb(0,128,96);
      text-decoration: none;
}
.login__link a:hover{
      color:rgb(0,58,36);
      text-decoration: underline;
}
.login__account{
      font-size: 16px;
}
.login__account input{
      margin-right: 5px;
}
@media (max-width:500px){
      .sign__card{
            padding: 1rem 1rem;
      }
      .sign__form input{
            padding: 0.8rem 0.6rem 0.5rem 0.8rem;
      }
}
@media (max-width:400px){
      .sign__card{
            padding: 0.8rem 0.8rem;
      }
      .sign__form input{
            padding: 0.5rem 0.4rem 0.3rem 0.5rem;
      } 
}
@media (max-width:300px){
      .sign__card{
            padding: 0.2rem 0.4rem;
      }
      .sign__form input{
      padding: 0.2rem 0.5rem 0.2rem 0.2rem;
      } 
}
